<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendsServlet</servlet-name>
    <servlet-class>Servlet.AddFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryFriendsServlet</servlet-name>
    <servlet-class>Servlet.QueryFriendsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendsServlet</servlet-name>
    <url-pattern>/AddFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryFriendsServlet</servlet-name>
    <url-pattern>/QueryFriendsServlet</url-pattern>
  </servlet-mapping>


</web-app>
