<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.penglab.hi5">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 8.0+系统需要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <permission
        android:name="com.penglab.hi5.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.penglab.hi5.permission.RECEIVE_MSG" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.penglab.hi5.core.Myapplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".core.game.RewardActivity" />
        <activity android:name=".core.game.LeaderBoardActivity" />
        <activity
            android:name=".core.game.QuestActivity"
            android:theme="@style/dialog_style" />


        <!--
         APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
           如果 SDKOptions 中提供了，则取 SDKOptions 中的值。-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="86a7aa13ac797a95247a03c54ed483b4" />

        <activity android:name=".chat.nim.main.activity.SystemMessageActivity" />
        <activity android:name=".chat.nim.contact.activity.RobotProfileActivity" />
        <activity android:name=".chat.nim.contact.activity.UserProfileActivity" />
        <activity android:name=".chat.nim.contact.activity.UserProfileEditItemActivity" />
        <activity android:name=".chat.nim.contact.activity.UserProfileSettingActivity" />
        <activity android:name=".chat.nim.session.activity.FileDownloadActivity" />
        <activity android:name=".chat.nim.session.activity.MessageHistoryActivity" />
        <activity android:name=".chat.nim.session.activity.MessageInfoActivity" />
        <activity android:name=".chat.nim.session.activity.WatchMultiRetweetActivity" />
        <activity android:name=".chat.nim.session.search.DisplayMessageActivity" />
        <activity android:name=".chat.nim.session.search.SearchMessageActivity" />
        <activity android:name=".chat.nim.file.browser.FileBrowserActivity" />
        <activity android:name=".chat.nim.contact.activity.BlackListActivity" />
        <activity android:name=".chat.nim.main.activity.CustomNotificationActivity" />
        <activity android:name=".chat.nim.main.activity.RobotListActivity" />
        <activity android:name=".chat.nim.main.activity.TeamListActivity" />
        <activity android:name=".chat.nim.main.activity.SettingsActivity" />
        <activity android:name=".chat.nim.main.activity.NoDisturbActivity" />
        <activity
            android:name="com.penglab.hi5.core.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".core.ui.login.RegisterActivity"/>
        <activity
            android:name=".core.ui.login.LoginActivity">
        </activity>
<!--        <activity-->
<!--            android:name="com.penglab.hi5.core.GameActivity"-->
<!--            android:screenOrientation="landscape" />-->
        <activity android:name="com.penglab.hi5.core.HelpActivity" />
        <activity
            android:name="com.penglab.hi5.core.MainActivity"
            android:configChanges="keyboardHidden|orientation|layoutDirection|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

<!--        <activity-->
<!--            android:name=".chat.agora.activity.PeerToPeerVideoActivity">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".chat.agora.activity.PeerToPeerVoiceActivity">-->
<!--        </activity>-->



<!--        &lt;!&ndash; 声网通信服务 &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".chat.agora.AgoraService"-->
<!--            android:exported="false" />-->

        <!-- 背景音乐后台服务 -->
        <service
            android:name="com.penglab.hi5.core.MusicServer"
            android:enabled="true"
            android:exported="true" />

        <!-- 协同工作通信服务 -->
        <service
            android:name=".core.collaboration.service.ManageService"
            android:exported="false" />

        <!-- 协同工作通信服务 -->
        <service
            android:name=".core.collaboration.service.CollaborationService"
            android:exported="false" />

        <!-- 云信后台服务，请使用独立进程 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:exported="false"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:exported="false"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <!-- 云信进程间通信provider -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.penglab.hi5.ipc.provider"
            android:exported="false"
            android:process=":core" />
        <!-- 云信内部使用的进程间通信provider -->
        <!-- SDK启动时会强制检测该组件的声明是否配置正确，如果检测到该声明不正确，SDK会主动抛出异常引发崩溃 -->
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:authorities="com.penglab.hi5.ipc.provider.preference"
            android:exported="false"
            tools:replace="android:authorities" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.penglab.hi5.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>